* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.todo-app {
    width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.input-section {
    margin-bottom: 15px;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-section input[type="text"],
.input-section textarea,
.input-section input[type="date"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#add-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f09d0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#add-btn:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.todo-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.todo-text {
    margin-bottom: 5px;
}

.todo-details {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn {
    background-color: #28a745;
    color: #fff;
}

.edit-btn {
    background-color: #ffc107;
    color: #000;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}




